body {
  background: #020617;
  color: white;
  font-family: Arial;
}

.main {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
}

.scan-btn {
  background: #3b82f6;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 8px;
}

.safe-text {
  color: #22c55e;
}